<div class="main">
<div class="name">
    <h2>Your favorites</h2>
</div>
<div class="country-container">
    <div *ngFor="let country of _favorites" class="country-card">
      <a [routerLink]="['/country', country.id]">
        <img *ngIf="country.flagUrl" class="country-cover" src="{{country.flagUrl}}" />
        <img *ngIf="!country.flagUrl" class="country-cover" src="../../assets/placeholder.png"/>
        <!-- <h3>{{getDisplayedname(country)}}</h3> -->
        <div *ngIf="country.fifa && country.fifa.length > 0">
          {{country.fifa}}
        </div>
        <div *ngIf="!country.fifa || country.fifa.length == 0">
          Unknown fifa
        </div>
      </a>
    </div>

</div>
